# Getting the latest and greatest libraries. Fix if shit breaks
pymongo
openai
requests
pillow # PIL
certifi
st_clickable_images
st_click_detector
streamlit_vertical_slider
streamlit_extras 
plotly
matplotlib
